<div id="about">
    <div class="subcontainer">
        <div class="row">
            
            <div class="aboutCol1">
                <img src="../../../assets/FotoCvEmir-no-bg.png">
            </div>
            <div class="aboutCol2">
                <h1 class="subtitle"> Acerca de</h1>
                <p>Desarrollador web Fullstack con enfoque analítico y creativo. Siempre en busca de innovar y encontrar nuevas soluciones para cada proyecto. Me apasiona fortalecer mis habilidades técnicas y estar al tanto de las últimas tecnologías en el mercado. Mi enfoque se basa en la lógica y el análisis de los detalles para crear productos de alta calidad y satisfacer las necesidades de los usuarios </p>   
           
           
                    <!------------------SKILLS--------------------->


                    <div class="tab-titles">
                <p class="links active" onclick="openTab('skills')">Habilidades</p>
                <p class="links" onclick="openTab('Lenguajes')">Lenguajes</p>
                <p class="links" onclick="openTab('Experiencia')">Experiencia</p>
                <p class="links" onclick="openTab('Educacion')">Formación Académica</p>
            </div>
            <div class="tab-content active-tab" id="skills">
                <ul>
                    <li><span>Resolución de problemas</span> </li>
                    <div class="progress-bar">
                       <div class="Resolucion"> <span></span></div>
                   </div>
                    
                    <li><span>Iniciativa para formar equipos</span></li>
                    <div class="progress-bar">
                       <div class="iniciativa"> <span></span></div>
                       </div>   
                                  
                       <li><span>Empatía</span></li>   
                       <div class="progress-bar">
                           <div class="Empatia"> <span></span></div>
                       </div>   
   
                       <li><span>Habilidades de comunicación</span></li>   
                       <div class="progress-bar">
                           <div class="comunication"> <span></span></div>
                       </div>      
   
                       <li><span>SCRUM Master</span></li>   
                       <div class="progress-bar">
                           <div class= "SCRUM"><span></span></div>
                       </div>      
   
                       <li><span>Office Suite</span></li>   
                       <div class="progress-bar">
                           <div class="Office"></div>
                       </div>     
                   </ul>
                
            </div>
            <!------------------Lenguajes--------------------->

            <div class="tab-content" id="Lenguajes">
                <ul>
                    <li><span>HTML</span> </li>
                    <div class="progress-bar">
                       <div class="html"> <span></span></div>
                   </div>
                    
                    <li><span>CSS</span></li>
                    <div class="progress-bar">
                       <div class="CSS"> <span></span></div>
                       </div>   
                                  
                       <li><span>Angular</span></li>   
                       <div class="progress-bar">
                           <div class="Angular"> <span></span></div>
                       </div>   
   
                       <li><span>MySQL</span></li>   
                       <div class="progress-bar">
                           <div class="MySQL"> <span></span></div>
                       </div>      
   
                       <li><span>React</span></li>   
                       <div class="progress-bar">
                           <div class= "React"><span></span></div>
                       </div>      
   
                       <li><span>Python</span></li>   
                       <div class="progress-bar">
                           <div class="Python"></div>
                       </div>     
                   </ul>
            </div>
            <!------------------EXPERIENCIA--------------------->

            <div class="tab-content" id="Experiencia">
                <ul>
                    <li><span>UI/UX < Front-end>  <br></span><br>
                        Creación e implementación del <b>SCRUM</b>  para el proyecto.
                        Diseño del prototipo de la web, mayormente en <b>Figma</b> <br>
                        Maquetado Front-End estático del diseño utilizando <b> HTML, CSS y Boostrap</b> <br>
                        Desarrollo del Front End dinámico con <b>Angular | Creación de la SPA</b>  <br>
                    </li>  <br><br>              
                    <li><span> < Desarrollo Back-end></span></li> 
                        Diseño del modelo relacional y base de datos - MySQL <br>
                        Diseño y creación del Back End - <b>Java Spring Boot</b> <br>
                        Deploy de las capas en <b>Firebase, Koyeb, Clever Cloud</b>                            
                </ul>
            </div>
            
            <!------------------FORMACION--------------------->

            <div class="tab-content" id="Educacion">
                <ul>
                    <li><span>Fullstack Developer</span><br>Argentina Programa | 2021 - Presente 
                         <div class="logo"> <img src="../../../assets/APLogo.png"></div></li>
                                  
                    <li><span>Desarrollador Fullstack</span><br>Egg IT Academy | 2022 - 2023
                    <div class="logo"><img src="../../../assets/logoEgg.png">
                    </div> 
                </li>    

                    <li><span>Ingles C2</span><br>Beca Pearson de la UBA | 2022 - 2023
                    <div class="logo"><img src="../../../assets/LogoPearson.png">
                    </div> 
                </li>        

                    <li><span>Web Development</span><br>Aptugo IT Academy | 2022 - 2023
                    <div class="logo"><img src="../../../assets/logoAptugo.jpg" alt=""></div>  </li>              
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>