<div class="header">
    <div class="container">
        <nav>
            <img src="assets/APLogo.png" class="logo"> 
            <ul>
                <li>
                    <a href="https://github.com/EmirPost" target="_blank"><i class="fa-brands fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/bedpost" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    <app-login></app-login>
                </li>
            </ul>
        </nav>  
        <div class="nombreTitulo">
            <p>Fullstack Developer</p>
            <h1> < <span> Emir </span> <br> Bedair /> </h1>
        </div>
    </div>  
    
</div>  