
#projects{
    padding: 50px 0;
}
.container {
    padding: 10px 10%;
}
.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.worklist{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 40px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    margin-left: -40px;
    width: 100%;
    height: 0%;
    background-image:  linear-gradient(rgba(7, 190, 16, 0.877), rgba(0, 0, 0, 0.300));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
}
.layer h3{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}
.layer p{
    font-weight: 400;
    color: #fff;
}
.layer a{
    margin-top: 20px;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    background: #070606;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.layer i{
    margin-top: 20px;
    color: #10e910
}
.layer i:hover{
    color: #FFF;
    transition: 0.2s;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
    transition: 0.5s;
}
.btn{
    display: block;
    margin: 50px 450px;
    width:max-content;
    border: 1px solid #FFF;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: rgb(4, 172, 4);
}
.btn:hover{
    background: rgba(4, 172, 4, 0.603);
    color: #fff;
    font-weight: 400;
    transition: 0.2s;
}



/*--------------------------Cambiar color layer proyectos-------------------------------

#ecommerce{
    background-image:  linear-gradient(rgba(153, 7, 190, 0.877), rgba(12, 25, 48, 0.521));
}
#crypto{
    background-image:  linear-gradient(rgba(7, 147, 190, 0.877), rgba(253, 255, 255, 0.521));
}
#SCRUM{
    background-image:  linear-gradient(rgba(102, 255, 0, 0.877), rgba(255, 0, 255, 0.767));
}

*/





