<div id="projects">
    <div class="container">
        <h1 class="subtitle">Proyectos</h1>
        <div class="worklist">
            <div class="work">
                <img src="../../../../assets/scrum-em-all.jpg">
                <div class="layer" id="SCRUM">
                    <h3>SCRUM'em all</h3><p></p>
                        <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="../../../../assets/ecommerce.jpg">
                <div class="layer" id="ecommerce">
                    <h3>Ecommerce</h3><p> ...</p>
                        <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="../../../../assets/pexels-ivan-babydov-7788009.jpg">
                <div class="layer" id="Crypto">
                    <h3>Crypto Balance</h3><p> ...
                    </p>
                        <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <a href="#" class="btn">Ver más</a>
            </div>
        </div>
    </div>