/*------------------------------PALETA DE COLORES----------------------------

Fondo oscuro 
#000

Textos blancos 
#FFF

 Destacados en verde 
#0bd804

*/
body {
    margin: 0;
    overflow-x: hidden;
    background-color: black;
  }
  
  html, body {
    height: 100%;
  }